extends ./config/base.pug

block scripts 
    script(src="/static/js/profile.js", defer)

block content
    div.profile-main
        section#seeProfile
            div.seeProfile_background
                div.profile_img
                    div.profile_img_show
                        if !Boolean(user.profileImg)
                            img(src="/static/images/blankprofile.png")
                        else 
                            img(src=`${user.profileImg}`)
                div.seeProfile_content_title
                    p#nickname #{user.nickname}님의 프로필 정보
                div.seeProfile_content
                    table.profile_table
                        tr 
                            th.type 별명
                            td.content=user.nickname
                        tr 
                            th.type 성별
                            if user.gender
                                td.content=user.gender
                            else 
                                td.content #{없음}    
                        tr 
                            th.type 생일
                            td.content=user.birthday 
                        tr 
                            th.type 이메일 주소
                            td.content=user.email
                        tr
                            th.type 주요 운동
                            td.content=user.mainSports   
                    div.profile_button-container
                        div.profile_button.profile_button_delete
                            button.account_delete-btn(data-btntype="deleteAccount") 계정 삭제
                        div.profile_button.profile_button_edit
                            a.account_edit-btn(href="/users/edit") 계정 편집
                        div.profile_button.profle_button_daily-log
                            a.daily-log-btn(href="/users/daily-log") 운동일지    
    include component/modal.pug                    
                
